@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

.wrapper {
  width: 100%;
  max-width: 1174px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo__img {
  width: 35px;
  height: 40px;
}

.header__logo__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 14.792px;
  width: 137px;
  height: 40px;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000;
}

.header__logo__text span {
  color: #f25822;
}

.menu {
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.menu__block {
  padding: 10px 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.menu__link:active {
  font-weight: 600;
  color: #f25822;
}

.menu__link:active {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

.menu__arrow {
  width: 10px;
  height: 10px;
  background-image: url("./img/arrow_down_b.svg");
}

main {
  display: block;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 84px;
}

.home__content {
  width: 556px;
}

h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.home__content__text {
  margin-top: 20px;
  color: #888;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home__content__buttons {
  margin-top: 32px;
}

.orange_btn {
  width: 140px;
  padding: 16px 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
  border-radius: 56px;
  border-style: hidden;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  cursor: pointer;
}

.watch_videos {
  margin-left: 48px;
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-style: hidden;
  background: none;
  cursor: pointer;
}

.home__img {
  width: 545px;
  height: 375px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.brand_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-content: center;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
}

.brand_logo img {
  width: 134px;
  height: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0 100px 0;
  gap: 20px;
}

.articles {
  width: 310px;
  height: 230px;
  display: flex;
  padding: 40px 34px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
}
.articles:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.art_img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.art_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.art_content {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 25px;
}

.art_more {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
  gap: 20px;
  background: #fafafa;
}

.fird_title {
  min-height: 126px;
  gap: 24px;
  margin-bottom: 48px;
}

.fird_sub_h2 {
  max-width: 740px;
  color: #888;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 24px;
}

.why_card {
  width: 310px;
  display: flex;
  padding: 0px 34px 34px 34px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  background: #fff;
}

.why_img {
}

.why_title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.why_sub_title {
  color: #666;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.why_button {
  min-width: 166px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button_arrow {
  width: 10px;
  height: 10px;
  background: url("./img/arrow_right_w.svg");
  margin-left: 4px;
}
